{% extends "../layouts/demo.njk" %}

{% block css %}{% endblock %}

{% block html %}{% endblock %}

{% block script %}
document.domain = document.domain;
DemoUtils.reportDemoResult(true);
{% endblock %}
