{% extends "../layouts/demo.njk" %}

{% block css %}{% endblock %}

{% block html %}
<p>Existing content</p>
{% endblock %}

{% block script %}
window.addEventListener('load', () => {
  try {
    document.write('<p>New content</p>');
    if (document.body.innerText.includes('New content')) {
      DemoUtils.reportDemoResult(true);
    } else {
      DemoUtils.reportDemoResult(false, {resultDetail: 'DOM does not contain the expected new content'});
    }
  } catch (e) {
    if (e instanceof DOMException) {
      DemoUtils.reportDemoResult(false, {failReason: 'permission-denied'});
    } else {
      DemoUtils.reportDemoResult(false, {resultDetail: 'Unexpected exception thrown: ' + e});
    }
  }
});
{% endblock %}
