{% extends "../layouts/demo.njk" %}

{% block css %}
#only-when-fullscreen {
  font-size: 8vw;
  text-align: center;
  background: white;
  display: none;
  padding: 10vw;
}
.fullscreen #only-when-fullscreen {
  display: block;
}
{% endblock %}

{% block html %}
<button id='trigger'>Go fullscreen!</button>
<div id='only-when-fullscreen'>Reverting to normal mode in a few seconds... (or press ESC)</div>
{% endblock %}

{% block script %}
const targetEl = document.getElementById('only-when-fullscreen');
const triggerEl = document.getElementById('trigger');
triggerEl.addEventListener('click', () => {
  targetEl.requestFullscreen()
    .then(() => {
      DemoUtils.reportDemoResult(true);
      setTimeout(() => document.exitFullscreen(), 1000);
    })
    .catch(e => DemoUtils.reportDemoResult(false, {failReason: e.toString()}))
  ;
});
targetEl.addEventListener('fullscreenchange', () => {
  document.body.classList.toggle('fullscreen', !!document.fullscreenElement);
});
{% endblock %}
