{% extends "../layouts/demo.njk" %}

{% block css %}{% endblock %}

{% block html %}Use a device with an accelerometer and move the device.{% endblock %}

{% block script %}
let sns, cleanup;
DemoUtils.setupTimeout('No readings detected, maybe device has no physical sensor');

function onReading(e) {
  const data = sns || e.rotationRate;
  const apiName = sns ? 'Gyroscope' : 'DeviceMotionEvent';
  document.body.innerHTML = JSON.stringify(data);
  DemoUtils.reportDemoResult(true, {resultDetail: 'Motion was reported using the '+apiName+' API'});
  cleanup();
}

if (window.Gyroscope) {
  sns = new Gyroscope({frequency: 10});
  sns.addEventListener('reading', onReading);
  sns.start();
  cleanup = () => sns.removeEventListener('reading', onReading);
} else if (window.DeviceMotionEvent) {
  window.addEventListener("devicemotion", onReading);
  cleanup = () => window.removeEventListener('devicemotion', onReading);
} else {
  throw new Error('Browser has no gyroscope API');
}
{% endblock %}
