{% extends "../layouts/demo.njk" %}

{% block css %}
{% endblock %}

{% block html %}
<script src="/test-assets/simple-script.js"></script>
{% endblock %}

{% block script %}
if (window.simpleScriptLoaded) {
  DemoUtils.reportDemoResult(true);
} else {
  DemoUtils.reportDemoResult(false);
}
{% endblock %}
