{% extends "../layouts/demo.njk" %}

{% block css %}{% endblock %}

{% block html %}
<img
  src='/test-assets/small-image-overqual.jpg'
  width="150" height="150"
/>
{% endblock %}

{% block script %}
{% endblock %}
