{% extends "../layouts/demo.njk" %}

{% block css %}{% endblock %}

{% block html %}{% endblock %}

{% block script %}
if (!('usb' in navigator)) throw new Error("Browser does not support WebUSB");
navigator.usb.getDevices()
  .then(devices => {
    const report = "<p>Total devices: " + devices.length + "</p><ul>" + devices.map(d => {
      return "<li>Product name: " + device.productName + ", serial number " + device.serialNumber + "</li>";
    }).join('\n') + "</ul>";
    document.body.innerHTML = report;
    DemoUtils.reportDemoResult(true);
  })
  .catch(e => DemoUtils.reportDemoResult(false, {resultDetail: e.toString()}))
;
{% endblock %}
