{% extends "./_layout.njk" %}

{% block css %}
html, body {
  background: black; margin: 0;
}
{% endblock %}

{% block html %}
<video id='test-video' src="/test-assets/video.m4v" autoplay muted loop style='max-width:100%'></video>
{% endblock %}

{% block script %}
window.addEventListener('load', () => {
  setTimeout(() => {
    const currentTime = document.getElementById('test-video').currentTime;
    if (currentTime > 0) {
      DemoUtils.reportDemoResult(true, {resultDetail: 'The video started playing automatically'});
    } else {
      DemoUtils.reportDemoResult(false, {resultDetail: 'The video is paused'});
    }
  }, 500);
});
{% endblock %}
