{% extends "./_layout.njk" %}

{% block css %}{% endblock %}

{% block html %}
<p>Existing content</p>
{% endblock %}

{% block script %}
window.addEventListener('load', () => {
  document.write('<p>New content</p>');
  if (document.body.innerText.includes('New content')) {
    DemoUtils.reportDemoResult(true);
  } else {
    throw new Error('DOM does not contain the expected new content');
  }
});
{% endblock %}
