{% extends "./_layout.njk" %}

{% block css %}
{% endblock %}

{% block html %}
{% endblock %}

{% block script %}
navigator.requestMIDIAccess()
  .then(access => {
    const inputs = Array.from(access.inputs.values());
    const outputs = Array.from(access.outputs.values());
    document.body.innerHTML = '<p>MIDI devices connected:</p><p>Input devices: '+ inputs.length + '</p><p>Output devices: '+ outputs.length + '</p>';
    DemoUtils.reportDemoResult(true);
  })
  .catch(e => DemoUtils.reportDemoResult(false, {resultDetail: e.toString()}))
;
{% endblock %}
