{% extends "./_layout.njk" %}

{% block css %}{% endblock %}

{% block html %}
<img
  id='test-img'
  src="https://picsum.photos/1000/1000/"
  width="200" height="200"
/>
{% endblock %}

{% block script %}{% endblock %}
