{% extends "./_layout.njk" %}

{% block css %}{% endblock %}

{% block html %}
<img id='test-img' src="https://picsum.photos/150/300/" />
{% endblock %}

{% block script %}
window.addEventListener('load', () => {
  const w = document.getElementById('test-img').offsetWidth;
  DemoUtils.reportDemoResult(w === 150, {resultDetail: 'The natural width of the image is 150px, and it has been rendered with a width of ' + w});
});
{% endblock %}
